

.movie-properties li {
    list-style-type: none;
    font-size: 18px;
    padding: 2px;
}

ion-icon {
    color: var(--ion-color-secondary);
    margin-right: 5px;
}
ion-label {
    color: var(--ion-color-secondary);
}
.moviedetail-img {
    height: 350px;
  
}
.movie-overview-title  {
color: var(--ion-color-secondary);
}