<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="secondary">Latest movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar animated="true" [value]="query" (ionChange)="setSearchbarValue($event)"></ion-searchbar>
    <ion-card *ngFor="let movie of movies"> 
        <ion-img src="{{imageUrl}}{{movie.backdrop_path}}"></ion-img>    
        <ion-card-header>
          <ion-card-subtitle><ion-icon color="warning" name="star"></ion-icon>{{movie.vote_average}}</ion-card-subtitle>
          <ion-card-title>{{movie.title}}</ion-card-title>
          <ion-card-subtitle>{{movie.release_date | date: 'dd/MM/yy'}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
            {{movie.overview}}         
        </ion-card-content>
      </ion-card>
</ion-content>
